<%- include('layout/header') %>
<style>
    #profile_picture{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid rgb(241, 238, 238);
    }
    #voters-registration-tab{
        margin-left: -4pc;
    }
    #notification-box {
  position: fixed;
  top: 100px;
  left: 300px;
  width: auto;
  height: auto;
  background-color: #ffffff;
  /* font-weight: bold; */
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
  transition: transform 0.3s ease-in-out;
}

#notification-box.error {
    color: rgb(58, 57, 57);

}

#notification-box.success {
  color: rgb(58, 57, 57);
}



.dropdown-item.text-primary {
    display: block !important;
}
    @media only screen and (max-width: 600px){
        #voters-registration-tab{
            margin-left: 0;
        }
        #fullName{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 55px;
      display: inline-block;
      vertical-align: middle;
    }
    }
</style>
</head>
<body>
    <header>
        <!-- Sidebar -->
        <%- include('./layout/voters') -%>
    
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
        
                <a class="navbar-brand" href="#">
                    <img src="/images/election.png" height="45"  alt="" loading="lazy" />
                </a>
        
                <ul class="navbar-nav ms-auto d-flex flex-row">
                    <li class="nav-item dropdown">
                        <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="notification" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bell" style="font-size: 1.2rem;margin-top: 10px;"></i>
                            <span class="badge rounded-pill badge-notification bg-danger"><%= unreadCount %></span>
                        </a>
                        <ul style="position: absolute" class="dropdown-menu dropdown-menu-end" aria-labelledby="notification">
                            <li><a class="dropdown-item" href="/notifications">Notification</a></li>
                        </ul>
                    </li>
                    
                    </li>
        
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#" id="profile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="data:image/png;base64,<%=profilePicture%>" class="rounded-circle" height="40" width="40" loading="lazy" alt="user" /> &nbsp;
                            <span id="fullName" title="<%= currentUser.first_name%> <%= currentUser.middle_name%> <%= currentUser.last_name%>"><%= currentUser.first_name%> <%= currentUser.middle_name%> <%= currentUser.last_name%></span>
                        </a>
                        <ul style="position: absolute" class="dropdown-menu dropdown-menu-end" aria-labelledby="profile">
                            <li><a class="dropdown-item" href="/my/profile">My profile</a></li>
                            <li><a class="dropdown-item" href="/voter/setting">Settings</a></li>
                            <li><a class="dropdown-item" href="/logout" style="color: #f00;"> <i class="fas fa-arrow-right"></i> Logout</a></li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
             
        </nav>
        
    </header>

    <div id="notification-box" style="display: none;">
        <p id="notification-message"></p>
      </div>
    
      <main style="margin-top: 70px;">
        <div class="container pt-2">
                    <!-- Notification Modal -->
    <div id="notification-box" style="display: none;">
        <p id="notification-message"></p>
    </div>
            <!-- Tabs navs -->
            <ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tabpanel">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="ex2-tab-1" data-bs-toggle="tab" href="#voters-tab" role="tab">Voters</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex2-tab-2" data-bs-toggle="tab" href="#voters-registration-tab" role="tab">Voters Registration</a>
                </li>
            </ul>
            <!-- Tabs navs -->

            <!-- Tabs content -->
            
            <div class="tab-content" id="ex2-content">
                <!-- Voters List Tab -->

                

                <% if (role === 'Admin') { %>
                    <div class="tab-pane fade show active" id="voters-tab" role="tabpanel">
                        <div class="mb-3" style="margin: 20px;">
                            <div class="col-12">
                                <div>
                                    <input type="search" class="form-control" name="search" id="searchInput" placeholder="Search voters" style="width: 100%;height: 3pc;">
                                </div>
                            </div>
                        </div>
                    
                        <table class="table responsive">
                            <thead>
                                <th>No.</th>
                                <th scope="col">Name</th>
                                <th scope="col">Role</th>
                                <th scope="col">Status</th>
                                <th scope="col">Register Election</th>
                                <th scope="col">Action</th>
                            </thead>
                            <% if (adminUsers && adminUsers.length > 0) { %> 
                            <tbody id="votersTable">
                                <% adminUsers.forEach((user, index) => { %>
                                <tr>
                                    <td><%= index + 1 %></td>
                                    <td>
                                        <img src="data:image/png;base64,<%= user.profile_picture %>" alt="profile_picture" id="profile_picture"> 
                                        <div>
                                            <%= user.first_name %> <%= user.middle_name %> <%= user.last_name %> <br>
                                            <p class="text-muted small"><%= user.username%></p>
                                            </div>
                                    </td>
                                    <td>
                                        <span class="badge bg-primary"><%= user.role ? user.role : 'No Role' %></span>
                                    </td>
                                    <td>
                                        <% if (user.has_voted) { %> 
                                            <span id="role-badge" class="badge bg-success">Voted</span>
                                        <% } else { %>
                                            <span id="role-badge" class="badge bg-danger">Not Voted</span>
                                        <% } %>
                                    </td>
                                    <td><%= user.election %></td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-outline-secondary btn-floating dropdown-toggle" type="button" id="dropdownMenuButton<%= user.id %>" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= user.id %>">
                                                <li>
                                                    <form action="/admin/voted/user/<%= user.id %>" method="POST" style="margin: 0;">
                                                        <button type="submit" class="dropdown-item text-success">
                                                            <i class="fas fa-check-circle me-2"></i>Mark as Voted
                                                        </button>
                                                    </form>
                                                </li>
                                                <li>
                                                    <button class="dropdown-item text-primary" data-bs-toggle="modal" data-bs-target="#editUserModal" onclick="editUser(<%= JSON.stringify(user) %>)">

                                                        <i class="fas fa-pencil-alt me-2"></i>Edit
                                                    </button>
                                                    
                                                                                                    </li>
                                                <li>
                                                    <form action="/admin/delete/user/<%= user.id %>" method="POST" style="margin: 0;">
                                                        <button type="submit" class="dropdown-item text-danger">
                                                            <i class="fas fa-trash-alt me-2"></i>Delete
                                                        </button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                            <% } else { %>
                            <div class="alert alert-warning text-center mt-4">
                                There is no candidate available at this moment. Please check back later.
                            </div>
                            <% } %>
                        </table>
                    </div>
                    

                <% } %>



                    <!-- Voters Registration Tab -->
                  

                    <div class="tab-pane fade" id="voters-registration-tab" role="tabpanel" >

                        <section id="registration" class="py-3 py-md-5 py-xl-5" style="background-color: aliceblue;">
                        <div class="container">
                        <div class="row gy-2 align-items-center">
                        <div class="col-12 col-md-6 col-xl-7">
                        <div class="d-flex justify-content-center">
                        <div class="col-12 col-xl-9">
                        <img class="img-fluid rounded mb-4" loading="lazy" src="/images/election-icon.png" width="245" height="80" alt="BootstrapBrain Logo">
                        <hr class="border-primary-subtle mb-4">
                        <h2 class="h1 mb-4" style="color: black;">ONLINE ELECTION</h2>
                        <p class="lead mb-5" style="color: black;">
                        Welcome to our online election platform, where every voice matters and every vote counts. Together, we can shape the future and build a better tomorrow. Your participation is not just a right but a powerful tool to drive change. Let your voice be heard, let your vision be seen, and let your vote make a difference. Engage, empower, and elevate our community by participating in this election. The future is in your hands. Vote with confidence, vote with hope, and vote for progress.
                        </p>
                        <div class="text-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-grip-horizontal" viewBox="0 0 16 16">
                        <path d="M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                        </div>
                        <a href="https://danielk-weahjr.onrender.com" style="color: rgb(0, 0, 0); text-decoration: none; font-size: 16px;"><button class="btn btn-danger">Developer</button></a>
                        <p class="lead mb-4">
                       
                        </p>
                        </div>
                        </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-5">
                        <div class="card border-0 rounded-4">
                        <div class="card-body p-3 p-md-4 p-xl-5">
                        <div class="row">
                        <div class="col-12">
                        <div class="mb-4">
                        <h2 class="h3">Voter's Registration</h2>
                        <h3 class="fs-6 fw-normal text-secondary m-0">Enter your details to register</h3>
                        </div>
                        </div>
                        </div>
                        <form action="/voters" method="post" id="registrationForm" enctype="multipart/form-data" autocomplete="off">
                        <div class="row gy-3 overflow-hidden">
                        <div class="col-12">
                        <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name" required>
                        <label for="firstname" class="form-label">First Name<span style="color: rgb(251, 85, 85);font-family: 'Poppins';">*</span></label>
                        </div>
                        </div>
                        <div class="col-12">
                        <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="middlename" id="middlename" placeholder="Middle Name">
                        <label for="middlename" class="form-label">Middle Name</label>
                        </div>
                        </div>
                        <div class="col-12">
                        <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name" required>
                        <label for="lastname" class="form-label">Last Name<span style="color: rgb(251, 85, 85);font-family: 'Poppins';">*</span></label>
                        </div>
                        </div>
                        <div class="col-12">
                        <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="username" id="username" placeholder="User Name" required>
                        <label for="username" class="form-label">User Name</label>
                        </div>
                        </div>
                        <div class="col-12">
                        <div class="form-floating mb-3">
                        <input type="date" class="form-control" name="dob" id="dob" required>
                        <label for="dob" class="form-label">DOB<span style="color: rgb(251, 85, 85);font-family: 'Poppins';">*</span></label>
                        </div>
                        </div>
                        <div class="col-12 mb-3">
                        <label for="role" class="form-label">Role<span style="color: rgb(251, 85, 85);font-family: 'Poppins';">*</span></label>
                        <select id="role" name="role" class="form-select" required>
                        <% roles.forEach(role => { %>
                        <option value="<%= role.id %>"><%= role.role %></option>
                        <% }); %>
                        </select>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="electionName" id="election" value="<%=userElectionData.election_name%>" disabled>
                            <label for="election" class="form-label">Election<span style="color: rgb(251, 85, 85);font-family: 'Poppins';">*</span></label>
                            </div>
                            </div>

                            <input type="hidden" name="election" id="" value="<%=userElectionData.election_id%>">
                        
                        <div class="col-12">
                        <div class="form-floating mb-3">
                        <input type="file" class="form-control" name="photo" id="photo" accept=".jpg, .jpeg, .png" required>
                        <label for="photo" class="form-label">Photo<span style="color: rgb(251, 85, 85);font-family: 'Poppins';">*</span></label>
                        </div>
                        </div>
                        <!-- Preview Image -->
                        <div class="col-12 mb-3">
                        <label for="photoPreview" class="form-label">Photo Preview:</label>
                        <div class="d-flex justify-content-center">
                        <img id="photoPreview" src="" alt="Profile Picture Preview" class="img-fluid rounded" style="max-width: 200px; display: none;">
                        </div>
                        </div>
                        <div class="col-12">
                        <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                        <label for="password" class="form-label">Password<span style="color: rgb(251, 85, 85);font-family: 'Poppins';">*</span></label>
                        </div>
                        </div>
                        <div class="col-12">
                        <div class="d-grid">
                        <button class="btn btn-primary btn-lg" type="submit">Register</button>
                        </div>
                        </div>
                        </div>
                        </form>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </section>
                        </div>
                        

                  


                    <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="editUserForm" method="POST" action="/admin/update/user">
                                        <input type="hidden" id="userId" name="id">
                                        <div class="mb-3">
                                            <label for="firstName" class="form-label">First Name</label>
                                            <input type="text" class="form-control" id="firstName" name="first_name">
                                        </div>
                                        <div class="mb-3">
                                            <label for="middleName" class="form-label">Middle Name</label>
                                            <input type="text" class="form-control" id="middleName" name="middle_name">
                                        </div>
                                        <div class="mb-3">
                                            <label for="lastName" class="form-label">Last Name</label>
                                            <input type="text" class="form-control" id="lastName" name="last_name">
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label for="role" class="form-label">Role:</label>
                                            <select id="role_id" name="role_id" class="form-select" required>
                                            <% roles.forEach(role => { %>
                                            <option value="<%= role.id %>"><%= role.role %></option>
                                            <% }); %>
                                            </select>
                                            </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" form="editUserForm">Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
            </div>
            
            </div>
    </main>

    <script>
  function editUser(user) {
    console.log('This is the users Data:',user); // Debugging
    document.getElementById('userId').value = user.id;
    document.getElementById('firstName').value = user.first_name || '';
    document.getElementById('middleName').value = user.middle_name || '';
    document.getElementById('lastName').value = user.last_name || '';
    document.getElementById('edit_role').value = user.role || '';

}

document.getElementById('firstname').addEventListener('input', generateUsername);
document.getElementById('lastname').addEventListener('input', generateUsername);

function generateUsername() {
  let firstname = document.getElementById('firstname').value.trim().toLowerCase();
  let lastname = document.getElementById('lastname').value.trim().toLowerCase();
  document.getElementById('username').value = firstname + "-" + lastname;
}

    </script>

    <script>
        // =============== SHOW NEW NOTIFICATION ALERT =======================

document.addEventListener('DOMContentLoaded', (e) => {
    const unreadCount = <%=unreadCount%>;

    if (unreadCount > 0) {
        const notificationBox = document.getElementById('notification-box');

        const notificationMessage = document.getElementById('notification-message');

        notificationMessage.innerHTML = `<i class="fas fa-check-circle" style='color: green;'></i> You have ${unreadCount} new notification(s).`;
        
        notificationBox.style.display = 'block';
        
        setTimeout(function(){
            notificationBox.style.display = 'none';
        }, 5000)
    };

    
    
    const urlParams = new URLSearchParams(window.location.search);
  const successMessage = urlParams.get('success');
  const errorMessage = urlParams.get('error');

  const notificationBox = document.getElementById('notification-box');
  const notificationMessage = document.getElementById('notification-message');

  if (successMessage) {
    notificationMessage.innerHTML = `<i class="fas fa-check-circle" style='color: green;'></i> `+successMessage;
    notificationBox.classList.add('success');
    notificationBox.style.display = 'block';
    setTimeout(() => notificationBox.style.transform = 'translateX(0)', 10);
  } else if (errorMessage) {
    notificationMessage.innerHTML = `<i class="fa-solid fa-exclamation-triangle" style='color: red;'></i> ` + errorMessage;
    notificationBox.classList.add('error');
    notificationBox.style.display = 'block';
    setTimeout(() => notificationBox.style.transform = 'translateX(0)', 10);
  }

  setTimeout(() => {
    notificationBox.style.transform = 'translateX(-500px)';
    setTimeout(() => notificationBox.style.display = 'none', 300); 
  }, 3000);
});

// });






    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const searchInput = document.getElementById('searchInput');
            const votersTable = document.getElementById('votersTable');
    
            searchInput.addEventListener('input', function() {
                const filter = searchInput.value.toLowerCase();
                const rows = votersTable.getElementsByTagName('tr');
                
                for (let i = 0; i < rows.length; i++) {
                    const row = rows[i];
                    const cells = row.getElementsByTagName('td');
                    
                    let matchFound = false;
                    
                    for (let j = 0; j < cells.length; j++) {
                        const cell = cells[j];
                        if (cell.textContent.toLowerCase().includes(filter)) {
                            matchFound = true;
                            break;
                        }
                    }
                    
                    if (matchFound) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                }
            });
        });
    </script>
    
    
    <script src="/js/registration.js"></script>
    <script src="/js/sweet_alert.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
