<%- include('layout/header') %>  
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<style>
      form{
    width: 29vw;
  }
  section{
    display: grid; justify-items: center;padding: 0.8rem;width: 50%;margin: 0 auto; border-radius: 10px;
  }
  #table-section{
    display: grid; justify-items: center;padding: 1rem;width: 70%;margin: 0 auto; border-radius: 10px;
  }
  #table-section img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  /* .ellipsis {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; 
    display: block; 
  } */
 
  @media only screen and (max-width: 600px){
  form {
    width: 100%;
  }
  section{
    margin-top: 20px;
    width: 100%;
    padding: 0;
    
  }
  #fullName{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 55px;
      display: inline-block;
      vertical-align: middle;
    }
  #table-section{
    margin-top: 20px;
    width: 100%;
    padding: 0;
    overflow: scroll;
  }
  }
  @media only screen and (min-width: 600px) and (max-width: 768px){
  form {
    width: 100%;
  }
  section{
    margin-top: 20px;
    width: 100%;
    padding: 0;
  }
  #table-section{
    margin-top: 20px;
    width: 100%;
    padding: 0;
    overflow: scroll;
  }
  }
</style>
</head>
<body>
    <header>
        <!-- Sidebar -->
        <%- include('./layout/candidates') -%>

            <!-- Navbar -->
            <%- include('./layout/navbar') -%>
    </header>
    <main style="margin-top: 50px; padding-left: 0">
        <div class="container pt-2">

          <% if(role === 'Super Admin') { %> 
            <section >
                <h1 class="mb-4" style="text-align: center;">Candidate Registration</h1>
                <h3 class="fs-6 fw-normal text-secondary m-0 mb-3">Register my candidate</h3>
                <form action="/candidate/registration" method="post" id="candidateRegistrationForm" enctype="multipart/form-data">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name" required>
                          <label for="firstname" class="form-label">First Name</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" name="middlename" id="middlename" placeholder="Middle Name">
                          <label for="middlename" class="form-label">Middle Name</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name" required>
                          <label for="lastname" class="form-label">Last Name</label>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="party" class="form-label">Party:</label>
                        <select id="party" name="party" class="form-select" required>
                            <% parties.forEach(party => { %>
                                <option value="<%= party.id %>"><%= party.party %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="position" class="form-label">Position:</label>
                        <select id="position" name="position" class="form-select" required>
                            <% positions.forEach(position => { %>
                                <option value="<%= position.id %>"><%= position.position %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="election" class="form-label">Election:</label>
                        <select id="election" name="election" class="form-select" required>
                            <% elections.forEach(election => { %>
                                <option value="<%= election.id %>"><%= election.election %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="file" class="form-control" name="photo" id="photo" required accept=".jpg, .jpeg, .png">
                          <label for="photo" class="form-label">Candidate Photo (.jpg, .jpeg, .png)</label>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                      <label for="photoPreview" class="form-label">Photo Preview:</label>
                      <div class="d-flex justify-content-center">
                          <img id="photoPreview" src="" alt="Profile Picture Preview" class="img-fluid rounded" style="max-width: 200px; display: none;">
                      </div>
                  </div>
                    <div class="mb-3">
                        <button style="width: 100%; margin-top: 10px;" id="login-btn" class="btn btn-primary btn-block btn-lg mb-4">Register Candidate</button>
                    </div>
                </form>
            </section>
            <section id="table-section">
            <table class="table responsive" >
              <thead>
                  
                  <th scope="col">Name</th>
                  <th scope="col">Position</th>
                  <th scope="col">Party</th>
                  <th scope="col">Registered Election</th>
                  <th scope="col">Votes</th>
                  <th scope="col">Action</th>
              </thead>
              <% candidates.forEach(candidate => { %>
               <tbody>
                <tr>
                 
                  <td>
                    <img src="data:image/png;base64,<%= candidate.photo %>" class="img-fluid text-info fa-3x" /> &nbsp;
                    <%=candidate.first_name%> <%=candidate.middle_name%> <%=candidate.last_name%>
                  </td>


                  <td><%=candidate.position%></td>

                  <td title="<%= candidate.party %>"><img src="data:image/png;base64,<%= candidate.logo %>" class="img-fluid text-info fa-3x" /> <%=candidate.party%></td>

                  <td class="ellipsis" title="<%= candidate.candidate_election %>"><%= candidate.candidate_election %></td>

                  <td><%= candidate.vote ? candidate.vote : '0'%></td>
               
                  <td>
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary btn-floating dropdown-toggle" type="button" id="dropdownMenuButton<%= candidate.id %>" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= candidate.id %>">
                            <li>
                                <a href="" class="dropdown-item">
                                    <i class="fas fa-pencil-alt me-2"></i>Edit
                                </a>
                            </li>
                            <li>
                                <form action="" method="POST" style="margin: 0;">
                                    <button type="submit" class="dropdown-item text-danger" style="margin: 0;">
                                        <i class="fas fa-trash-alt me-2"></i>Delete
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </td>
                </tr>
               </tbody>
               <% }) %>
          </table>
        </section>
        <% } %>

        <% if(role === 'Admin') { %> 
          <section >
              <h1 class="mb-4" style="text-align: center;">Candidate Registration</h1>
              <h3 class="fs-6 fw-normal text-secondary m-0 mb-3">Register my candidate</h3>
              <form action="/candidate/registration" method="post" id="candidateRegistrationForm" enctype="multipart/form-data">
                  <div class="col-12">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name" required>
                        <label for="firstname" class="form-label">First Name</label>
                      </div>
                  </div>
                  <div class="col-12">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="middlename" id="middlename" placeholder="Middle Name">
                        <label for="middlename" class="form-label">Middle Name</label>
                      </div>
                  </div>
                  <div class="col-12">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name" required>
                        <label for="lastname" class="form-label">Last Name</label>
                      </div>
                  </div>
                  <div class="col-12 mb-3">
                      <label for="party" class="form-label">Party:</label>
                      <select id="party" name="party" class="form-select" required>
                          <% Adminparties.forEach(party => { %>
                              <option value="<%= party.id %>"><%= party.party %></option>
                          <% }); %>
                      </select>
                  </div>
                  <div class="col-12 mb-3">
                      <label for="position" class="form-label">Position:</label>
                      <select id="position" name="position" class="form-select" required>
                          <% Adminpositions.forEach(position => { %>
                              <option value="<%= position.id %>"><%= position.position %></option>
                          <% }); %>
                      </select>
                  </div>
                  <div class="col-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="electionName" id="election" value="<%= userElectionData.election_name %>" disabled required>
                        <label for="dob" class="form-label">Election</label>
                    </div>
                </div>


                        <input type="hidden" class="form-control" name="election" id="election" value="<%= userElectionData.election_id %>">
                       
                  <div class="col-12">
                      <div class="form-floating mb-3">
                        <input type="file" class="form-control" name="photo" id="photo" required accept=".jpg, .jpeg, .png">
                        <label for="photo" class="form-label">Candidate Photo (.jpg, .jpeg, .png)</label>
                      </div>
                  </div>
                  <div class="col-12 mb-3">
                    <label for="photoPreview" class="form-label">Photo Preview:</label>
                    <div class="d-flex justify-content-center">
                        <img id="photoPreview" src="" alt="Profile Picture Preview" class="img-fluid rounded" style="max-width: 200px; display: none;">
                    </div>
                </div>
                  <div class="mb-3">
                      <button style="width: 100%; margin-top: 10px;" id="login-btn" class="btn btn-primary btn-block btn-lg mb-4">Register Candidate</button>
                  </div>
              </form>
          </section>
          <section id="table-section">
          <table class="table responsive">
            <thead>
                
                <th scope="col">Candidate</th>
                <th scope="col">Position</th>
                <th scope="col">Party</th>
                <th scope="col">Votes</th>
                <th scope="col">Action</th>
            </thead>
            <% Admincandidates.forEach(candidate => { %>
             <tbody>
              <tr>
               
                <td>
                  <img src="data:image/png;base64,<%= candidate.photo %>" class="img-fluid text-info fa-3x" /> &nbsp;
                  <%=candidate.first_name%> <%=candidate.middle_name%> <%=candidate.last_name%>
                </td>

                <td><%=candidate.position%></td>

                <td><img src="data:image/png;base64,<%= candidate.logo %>" class="img-fluid text-info fa-3x" /> <%=candidate.party%></td>


                <td><%=candidate.vote ? candidate.vote : '0' %></td>
             
                <td>
                  <div class="dropdown">
                      <button class="btn btn-outline-secondary btn-floating dropdown-toggle" type="button" id="dropdownMenuButton<%= candidate.id %>" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= candidate.id %>">
                          <li>
                              <a href="" class="dropdown-item">
                                  <i class="fas fa-pencil-alt me-2"></i>Edit
                              </a>
                          </li>
                          <li>
                              <form action="" method="POST" style="margin: 0;">
                                  <button type="submit" class="dropdown-item text-danger">
                                      <i class="fas fa-trash-alt me-2"></i>Delete
                                  </button>
                              </form>
                          </li>
                      </ul>
                  </div>
              </td>
              </tr>
             </tbody>
             <% }) %>
        </table>
      </section>
      <% } %>
        </div>

    </main>
    <script src="/js/candidate.js"></script>
<%- include('layout/footer') %>
