<%- include('layout/header') %> 
<link rel="stylesheet" href="/css/style.css" />
<style>
  @media only screen and (max-width: 600px){
    #fullName{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 55px;
      display: inline-block;
      vertical-align: middle;
    }
  }

</style>
 </head>

 <body>
    <header>
        <!-- Sidebar -->
        <%- include('./layout/sidebar') -%>

            <!-- Navbar -->
            <%- include('./layout/navbar') -%>
    </header>
    
     <main style="margin-top: 70px " id="content-area">
        
         <h1 class="mb-4" style="text-align: center; padding-top: 30px;">Result Dashboard</h1>
         <div class="container pt-2 bg-light">
          <div class="mb-3" style="margin: 20px;">
            <label class="visually-hidden" for="elections-dropdown">Preference</label>
            <select class="form-select" name="elections-dropdown" id="elections-dropdown" required>
                <option value="">Select Election</option>
            </select>
        </div>
        
                 
                     <section>

                         <div class="row">
                             <div class="col-xl-6 col-md-12 mb-4 ">
                                 <div class="card ">
                                     <div class="card-body ">
                                         <div class="d-flex justify-content-between p-md-1 ">
                                             <div class="d-flex flex-row ">
                                                 <div class="align-self-center ">
                                                     <i class="fas fa-pencil-alt text-info fa-3x me-4 "></i>
                                                 </div>
                                                 <div>
                                                     <h4>Registered Voters</h4>
                                                     <p class="mb-0 ">Total number of registered voters</p>
                                                 </div>
                                             </div>
                                             <div class="align-self-center">
                                                 <h2 id="registered-voters" class="h1 mb-0"><%= totalUsers %></h2>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             
                             <div class="col-xl-6 col-md-12 mb-4 ">
                                 <div class="card ">
                                     <div class="card-body ">
                                         <div class="d-flex justify-content-between p-md-1 ">
                                             <div class="d-flex flex-row ">
                                                 <div class="align-self-center ">
                                                     <!-- <i class="fas fa-vote-yea "></i> -->
                                                     <i class="fas fa-balance-scale text-warning fa-3x me-4 "></i>
                                                 </div>
                                                 <div>
                                                     <h4>Total Votes</h4>
                                                     <p class="mb-0 ">Total number of votes</p>
                                                 </div>
                                             </div>
                                             <div class="align-self-center ">
                                                 <h2 class="h1 mb-0 "><%= totalVotes %></h2>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                        
                     </section>
                     <!--Section: Statistics with subtitles-->

                     <!--Section: Minimal statistics cards-->
                     <section id="contestants-results">
                        <article>
                            <h2>Chairman</h2>
                            <div class="row ">
                              <% candidates.forEach(candidate => { %>
                                <% if (candidate.position == 'Chairman') { %> 
                                  <div class="col-md-4 mb-4">
                                    <div class="card ">
                                      <div class="card-body ">
                                        <div class="d-flex justify-content-between px-md-1 ">
                                          <div class="align-self-center ">
                                            <img src="data:image/png;base64,<%= candidate.photo %>" class="img-fluid text-info fa-3x" />
                                            <h6 class="card-title name"><%= candidate.first_name %> <%= candidate.middle_name %> <%= candidate.last_name %></h6>
                                            <p class="card-text party"><img src="data:image/png;base64,<%= candidate.logo %>" class="img-fluid text-info fa-3x" /> <%= candidate.party %></p>
                                          </div>
                                          <div class="text-end ">
                                            <h3><%= candidate.vote %></h3>
                                            <p class="mb-0 ">Votes</p>
                                          </div>
                                        </div>
                                        <div class="px-md-1 ">
                                          <div class="progress mt-3 mb-1 rounded " style="height: 15px ">
                                            <div class="progress-bar bg-info " role="progressbar " style="width: <%= candidate.votePercentage %>%" aria-valuenow="<%= candidate.votePercentage %>" aria-valuemin="0 " aria-valuemax="100 "><%= candidate.votePercentage.toFixed(2) %>%</div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                <% }%>
                              <% }) %>
                            </div>
                          </article>
                          
                        

                          <article>
                            <h2>Chairlady</h2>
                            <div class="row ">
                              <% candidates.forEach(candidate => { %>
                                <% if (candidate.position == 'Chairlady') { %> 
                                  <div class="col-md-4 mb-4">
                                    <div class="card ">
                                      <div class="card-body ">
                                        <div class="d-flex justify-content-between px-md-1 ">
                                          <div class="align-self-center ">
                                            <img src="data:image/png;base64,<%= candidate.photo %>" class="img-fluid text-info fa-3x" />
                                            <h6 class="card-title name"><%= candidate.first_name %> <%= candidate.middle_name %> <%= candidate.last_name %></h6>
                                            <p class="card-text party"><img src="data:image/png;base64,<%= candidate.logo %>" class="img-fluid text-info fa-3x" /> <%= candidate.party %></p>
                                          </div>
                                          <div class="text-end ">
                                            <h3><%= candidate.vote %></h3>
                                            <p class="mb-0 ">Votes</p>
                                          </div>
                                        </div>
                                        <div class="px-md-1 ">
                                          <div class="progress mt-3 mb-1 rounded " style="height: 15px ">
                                            <div class="progress-bar bg-info " role="progressbar " style="width: <%= candidate.votePercentage %>%" aria-valuenow="<%= candidate.votePercentage %>" aria-valuemin="0 " aria-valuemax="100 "><%= candidate.votePercentage.toFixed(2) %>%</div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                <% }%>
                              <% }) %>
                            </div>
                          </article>

                          <article>
                            <h2>Youth Coordinator</h2>
                            <div class="row ">
                              <% candidates.forEach(candidate => { %>
                                <% if (candidate.position == 'Youth') { %> 
                                  <div class="col-md-4 mb-4">
                                    <div class="card ">
                                      <div class="card-body ">
                                        <div class="d-flex justify-content-between px-md-1 ">
                                          <div class="align-self-center ">
                                            <img src="data:image/png;base64,<%= candidate.photo %>" class="img-fluid text-info fa-3x" />
                                            <h6 class="card-title name"><%= candidate.first_name %> <%= candidate.middle_name %> <%= candidate.last_name %></h6>
                                            <p class="card-text party"><img src="data:image/png;base64,<%= candidate.logo %>" class="img-fluid text-info fa-3x" /> <%= candidate.party %></p>
                                          </div>
                                          <div class="text-end ">
                                            <h3><%= candidate.vote %></h3>
                                            <p class="mb-0 ">Votes</p>
                                          </div>
                                        </div>
                                        <div class="px-md-1 ">
                                          <div class="progress mt-3 mb-1 rounded " style="height: 15px ">
                                            <div class="progress-bar bg-info " role="progressbar " style="width: <%= candidate.votePercentage %>%" aria-valuenow="<%= candidate.votePercentage %>" aria-valuemin="0 " aria-valuemax="100 "><%= candidate.votePercentage.toFixed(2) %>%</div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                <% }%>
                              <% }) %>
                            </div>
                          </article>
                         
                        
                     </section>
                     <!--Section: Minimal statistics cards-->
         </div>



     </main>

     <script src="/js/dashboard.js"></script>
     
 <%- include('layout/footer') %>