<style>
      body {
      background-color: #f9f9f9;
      font-family: 'Roboto', sans-serif;
    }
    #notification-box {
  position: fixed;
  top: 100px;
  left: 300px;
  width: auto;
  height: auto;
  background-color: #ffffff;
  /* font-weight: bold; */
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
  transition: transform 0.3s ease-in-out;
}


  @media only screen and (max-width: 600px){
    #fullName{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 55px;
      display: inline-block;
      vertical-align: middle;
    }
  }

</style>
<%- include('layout/header') %> 
<link rel="stylesheet" href="/css/style.css" />

<!-- Your existing CSS and styles -->

</head>

<body>
    <header>
        <%- include('./layout/sidebar') -%>
        <%- include('./layout/navbar') -%>
    </header>

    <div id="notification-box" style="display: none;">
      <p id="notification-message"></p>
    </div>
    
    <main style="margin-top: 70px " id="content-area">
        <h1 class="mb-4" style="text-align: center; padding-top: 30px;">Election Result Dashboard</h1>
        <div class="container pt-2 bg-light">
          <div class="mb-3" style="margin: 20px;">
            <label class="visually-hidden" for="elections-dropdown">Preference</label>
            <% if (role === 'Super Admin') { %> 
            <select class="form-select" name="elections-dropdown" id="elections-dropdown" required style="cursor: pointer;">
                <option value="" selected disabled>Select Election</option>
                <% elections.forEach(election => { %> 
                <option value="<%= election.id %>"><%= election.election %></option>
                <% }) %>
            </select>
            <% } %>
        </div>
        
                 
                     <section>

                         <div class="row">
                             <div class="col-xl-6 col-md-12 mb-4 ">
                                 <div class="card ">
                                     <div class="card-body ">
                                         <div class="d-flex justify-content-between p-md-1 ">
                                             <div class="d-flex flex-row ">
                                                 <div class="align-self-center ">
                                                  <i class="fas fa-users text-info fa-3x me-4 "></i>
                                                 </div>
                                                 <div>
                                                     <h4>Registered Voters</h4>
                                                     <p class="mb-0 ">Total number of registered voters</p>
                                                 </div>
                                             </div>
                                             <div class="align-self-center">
                                                 <h2 id="registered-voters" class="h1 mb-0"><%= totalUsers < 10 ? '0' + totalUsers : totalUsers %></h2>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             
                             <div class="col-xl-6 col-md-12 mb-4 ">
                                 <div class="card ">
                                     <div class="card-body ">
                                         <div class="d-flex justify-content-between p-md-1 ">
                                             <div class="d-flex flex-row ">
                                                 <div class="align-self-center ">
                                                     
                                                  <i class="fas fa-vote-yea text-warning fa-3x me-4 "></i>
                                                 </div>
                                                 <div>
                                                     <h4>Total Votes</h4>
                                                     <p class="mb-0 ">Total number of votes</p>
                                                 </div>
                                             </div>
                                             <div class="align-self-center ">
                                                 <h2 class="h1 mb-0 "><%= totalVotes < 10 ? '0' + totalVotes : totalVotes %></h2>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                        
                     </section>

                     <section id="contestants-results">
                        <% if (Object.keys(groupedCandidates).length === 0) { %>
                            <p class="text-center text-muted">
                              <img src="/images/noCandidate.png" alt="no candidate">
                              <br>
                            No candidates available.</p>
                        <% } else { %>
                          <% Object.keys(groupedCandidates).forEach(position => { %>
                            <article>
                              <h2><%= position %></h2>
                              <% if (groupedCandidates[position].length === 0) { %>
                                <p class="text-center text-muted">No candidates for this position.</p>
                              <% } else { %>
                                <div class="row">
                                  <% groupedCandidates[position].forEach(candidate => { %>
                                    <div class="col-md-4 mb-4">
                                      <div class="card">
                                        <div class="card-body">
                                          <div class="d-flex justify-content-between px-md-1">
                                            <div class="align-self-center">
                                              <img src="data:image/png;base64,<%= candidate.photo %>" class="img-fluid text-info fa-3x" />
                                              <h6 class="card-title name"><%= candidate.first_name %> <%= candidate.middle_name %> <%= candidate.last_name %></h6>
                                              <p class="card-text party">
                                                <img src="data:image/png;base64,<%= candidate.logo %>" class="img-fluid text-info fa-3x" />
                                                <%= candidate.party %>
                                              </p>
                                            </div>
                                            <div class="text-end">
                                              <h3><%= candidate.vote < 10 ? '0' + candidate.vote : candidate.vote %></h3>
                                              <p class="mb-0">Votes</p>
                                            </div>
                                          </div>
                                          <div class="px-md-1">
                                            <div class="progress mt-3 mb-1 rounded" style="height: 15px; font-weight: bold;">
                                              <div class="progress-bar bg-info" role="progressbar" style="width: <%= candidate.votePercentage %>%;" aria-valuenow="<%= candidate.votePercentage %>" aria-valuemin="0" aria-valuemax="100">
                                                <%= candidate.votePercentage.toFixed(2) %>%
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  <% }) %>
                                </div>
                              <% } %>
                            </article>
                          <% }) %>
                        <% } %>
                      </section>
                      
        </div>
    </main>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const unreadCount = <%= unreadCount %>; 
        if (unreadCount > 0) {
          const notificationBox = document.getElementById('notification-box');
          const notificationMessage = document.getElementById('notification-message');
    
          notificationMessage.innerHTML = `<i class="fas fa-check-circle" style='color: green;'></i> You have ${unreadCount} new notification(s).`;
          
          notificationBox.style.display = 'block';
    
          setTimeout(function() {
            notificationBox.style.display = 'none';
          }, 5000);
        }
      });
    </script>

    <script src="/js/dashboard.js"></script>
<%- include('layout/footer') %>
