<%- include('layout/header') -%>
<script>
    function downloadCSV() {
        window.location.href = '/election/download/csv';
    }
    function downloadPDF() {
        window.location.href = '/download/election/results/pdf';
    }
</script>
<style>
    body {
      background-color: #f9f9f9;
      font-family: 'Roboto', sans-serif;
    }
  
    .party-title-logo {
      text-align: center;
    }
  
    .party-title-logo img {
      width: 200px;
      height: 200px;
      object-fit: cover; 
    }
  
    .party-title-logo h3 {
      font-size: 2rem;
      padding-bottom: 3px;
      margin-top: -1pc;
    }
  
    .bg-badge {
      background-color: #f1f1f1;
      color: #6c757d;
      display: inline-block;
      font-weight: 500;
      border-radius: 12px;
      margin-top: 10px;
    }
  
    .dropdown-item.text-primary {
      display: block !important;
    }
    .team-members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 10px;
}

.team-members .team-card {
  padding: 10px; 
  background: #f4f4f4; 
  border-radius: 8px;  
  text-align: center; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.team-members .team-card img {
  width: 150px;
  height: 150px;
  object-fit: cover; 
  border-radius: 50%; 
  transition: 0.2s ; 
}

.team-members .team-card img:hover{
  border: 4px solid teal;
  cursor: pointer;
}
.team-members .team-card h4 {
  font-size: 1.1em;
  margin-top: 10px;
  font-weight: bold;
}

.team-members .team-card p {
  font-size: 0.9em;
  color: #666;  
}

    @media only screen and (max-width: 600px) {
      #fullName {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 55px;
        display: inline-block;
        vertical-align: middle;
      }
      .team-members {
  display: grid;
  grid-template-columns: repeat(1, 1fr);  
  gap: 10px;
}
.party-title-logo h3 {
      font-size: 2rem;
      padding-bottom: 3px;
      margin-top: -1pc;
    }
    }
  
    @media only screen and (min-width: 600px) and (max-width: 768px) {
      form input {
        width: 100%;
      }
      .party-title-logo h3 {
      font-size: 2rem;
      padding-bottom: 3px;
      margin-top: -3pc;
    }
    }
  </style>
    </head>

    <body>
        <header>
            <%- include('layout/partyDashboardSidebar') -%>

                <%- include('layout/navbar') -%>
        </header>

        <main style="margin-top: 70px ">
            <h1 class="mb-4" style="text-align: center;margin-top: 5pc;">Candidates Election Result</h1>
            <div class="container pt-2">
              <div class="dropdown mb-3">
                <button class="btn btn-white dropdown-toggle" type="button" id="downloadDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-download" style="font-size: 1.5rem;"></i> Download
                </button>
                <ul class="dropdown-menu" aria-labelledby="downloadDropdown">
                  <li><a class="dropdown-item" href="#" onclick="downloadCSV()">Download CSV</a></li>
                  <li><a class="dropdown-item" href="#" onclick="downloadPDF()">Download PDF</a></li>
                </ul>
              </div>
                             <br><br>
                <table class="table responsive">
                    <thead>
                        
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Middle Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Party</th>
                        <th scope="col">Number of Vote</th>
                    </thead>
                    <% allCandidateData.forEach((user, index) => { %> 
                     <tbody>
                      <tr>
                        <td> <%= index + 1 %> </td>
                        <td><%= user.first_name %> </td>
                        <td><%= user.middle_name %></td>
                        <td>
                           <%= user.last_name %> </td>
                           <td><%=user.position%></td>
                        <td><%=user.party%></td>
                        <td><%=user.vote < 10 ? '0' + user.vote : user.vote%></td>
                      </tr>
                     </tbody>
                     <% }) %>
                </table>


            </div>
        </main>


        
    <%- include('layout/footer') -%>