<%- include('layout/header') -%>

<style>
      body {
      background-color: #f9f9f9;
      font-family: 'Roboto', sans-serif;
    }
    .dropdown-item.text-primary {
    display: block !important;
}
   @media only screen and (max-width: 600px){
    #fullName{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 55px;
      display: inline-block;
      vertical-align: middle;
    }
   }
    @media only screen and (min-width: 600px) and (max-width: 768px){
        form input{
            width: 100%;
        }
    }
</style>
    </head>

    <body>
        <!--Main Navigation-->
        <header>
            <!-- Sidebar -->
            <%- include('layout/election') -%>

                <!-- Navbar -->
                <%- include('layout/navbar') -%>
        </header>

        <!--Main layout-->
        <main style="margin-top: 70px ">
            <h1 class="mb-4" style="text-align: center;margin-top: 5pc;">Create Election</h1>
            <div class="container pt-2">
                <section >
                    <form action="/create/election" method="post" id="electionForm" autocomplete="off">
                     <div class="col-12">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="election" id="election" placeholder="Election Title" required>
                        <label for="title" class="form-label">Election Title</label>
                      </div>
                  </div>

                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="datetime-local" class="form-control" name="start_time" id="start_time" placeholder="Election Start Time" required>
                      <label for="election_start_time" class="form-label">Election Start Time</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="datetime-local" class="form-control" name="end_time" id="end_time" placeholder="Election end Time" required>
                      <label for="election_end_time" class="form-label">Election End Time</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" name="voter_age_eligibility" id="voter_age_eligibility" placeholder="Voter Age Eligibility" min="10" required>
                      <label for="voter_age_eligibility" class="form-label">Voter Age Eligibility</label>
                    </div>
                </div>
               

                <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="datetime-local" class="form-control" name="registration_start_time" id="registration_start_time" placeholder="Registration Start Time" required>
                      <label for="registration_start_time" class="form-label">Registration Start Time</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="datetime-local" class="form-control" name="registration_end_time" id="registration_end_time" placeholder="Registration end Time" required>
                      <label for="registration_end_time" class="form-label">Registration End Time</label>
                    </div>
                </div>

                    <div class="col-12">
                        <button type="submit" id="create-election-btn" class="btn btn-primary btn-block btn-lg mb-4">Create Election</button>
                    </div>
                    </form>
                </section>

                <table class="table responsive">
                    <thead>
                        
                        <th scope="col">Election</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Eligibility</th>
                        <th scope="col">Date Created</th>
                        <th scope="col">Action</th>
                    </thead>
                    <% elections.forEach(election => { %>
                     <tbody>
                      <tr>
                       
                       <td><%=election.election%></td>
                       <td><%=election.start_time%></td>
                       <td><%=election.end_time%></td>
                       <td><%=election.voter_age_eligibility%> Years</td>
                       <td><%=election.created_at%></td>

                       <td>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary btn-floating dropdown-toggle" type="button" id="dropdownMenuButton<%= election.id %>" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= election.id %>">
                                <li>
                                    <button class="dropdown-item text-primary" data-bs-toggle="modal" data-bs-target="#editElectionModal" onclick="editElection(<%= JSON.stringify(election) %>)">

                                        <i class="fas fa-pencil-alt me-2"></i>Edit
                                    </button>
                                    
                                </li>

                                <li>
                                    <form action="/delete/election/<%=election.election_id%>" method="POST" style="margin: 0;">
                                        <button type="submit" class="dropdown-item text-danger" title="Delete Election">
                                            <i class="fas fa-trash-alt me-2"></i>Delete
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </td>
                      
                      </tr>
                     </tbody>
                     <% }) %>
                </table>


                <div class="modal fade" id="editElectionModal" tabindex="-1" aria-labelledby="editElectionModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editElectionModalLabel">Edit Election</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="editUserForm" method="POST" action="/update/election">
                                    <input type="hidden" id="electionId" name="id">
                                    <div class="mb-3">
                                        <label for="election" class="form-label">Election</label>
                                        <input type="text" class="form-control" id="election_name" name="election">
                                    </div>

                                    <div class="mb-3">
                                        <label for="start_time" class="form-label">Start Time</label>
                                        <input type="datetime-local" class="form-control" id="start_times" name="startTime">
                                    </div>

                                    <div class="mb-3">
                                        <label for="end_time" class="form-label">End Time</label>
                                        <input type="datetime-local" class="form-control" id="end_times" name="endTime">
                                    </div>

                                    <div class="mb-3">
                                        <label for="voter_age_eligibilities class="form-label">Voter Age Eligibility</label>
                                        <input type="number" class="form-control" id="voter_age_eligibilities" name="voter_age_eligibilities" min="10">
                                    </div>
  
                                    <div class="mb-3">
                                        <label for="registration_start_time" class="form-label">Registration Start Time</label>
                                        <input type="datetime-local" class="form-control" id="registration_start_times" name="RegistrationStartTime">
                                    </div>

                                    <div class="mb-3">
                                        <label for="registration_end_time" class="form-label">Registration End Time</label>
                                        <input type="datetime-local" class="form-control" id="registration_end_times" name="RegistrationEndTime">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" form="editUserForm">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script>
            function editElection(election) {
               console.log('This is the election data:', election); 
               document.getElementById('electionId').value = election.election_id;
               document.getElementById('election_name').value = election.election || '';
               document.getElementById('start_times').value = election.start_time || '';
               document.getElementById('end_times').value = election.end_time || '';
               document.getElementById('voter_age_eligibilities').value = election.voter_age_eligibility
               document.getElementById('registration_start_times').value = election.registration_start_time || '';
               document.getElementById('registration_end_times').value = election.registration_end_time || '';

           }
               </script>

        <script>
            document.getElementById('electionForm').addEventListener('submit', (e) => {
             e.preventDefault();
            
             const formData = new FormData(e.target);
             const formObject = Object.fromEntries(formData.entries());
            
             fetch('/create/election', {
               method: 'POST',
                 headers: {
                     'Content-Type': 'application/json'
                 },
                 body: JSON.stringify(formObject)
             })
             .then(response => response.json())
             .then((data) => {
              if (data.success) {
               Swal.fire({
                title: "Election Created Successfully",
                text: data.message,
                icon: 'success',
                showConfirmButton: false,
                timer: 2000
            }).then(() => {
                document.getElementById('forget-password').reset();
            });
              } else {
               Swal.fire({
                   title: 'Error',
                   text: data.message,
                   icon: 'error',
                   showConfirmButton: false,
                   timer: 2000
               });
            }
            })
            .catch(error => {
            Swal.fire({
               title: 'Error',
               text: 'There was a problem updating your information. Please try again later.',
               icon: 'error',
               showConfirmButton: false,
               timer: 2000
            });
            console.error('Error:', error);
            });
             })
            
               </script>
           
        
    <%- include('layout/footer') -%>