<%- include('layout/header') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    #parties-tab {
        width: 60%;
        margin: 0 auto;
    }

    #logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    form{
    width: 29vw;
  }
  section{
    display: grid; justify-items: center;padding: 0.8rem;width: 50%;margin: 0 auto; border-radius: 10px;
  }
  /* #notification-box {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50; 
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
} */
.dropdown-item.text-primary {
    display: block !important;
}
    @media only screen and (max-width: 600px) {
        #parties-tab {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
       

        table {
            width: 100%;
        }
        form {
            width: 100%;
        }

        .form-floating input, .form-floating label {
            width: 100%;
        }
        form {
    width: 100%;
  }
  section{
    margin-top: 20px;
    width: 100%;
    padding: 0;
  }
  #fullName{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 55px;
      display: inline-block;
      vertical-align: middle;
    }
    }
    @media only screen and (min-width: 600px) and (max-width: 768px) {
        #parties-tab {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
       

        table {
            width: 100%;
        }
        form {
            width: 100%;
        }

        .form-floating input, .form-floating label {
            width: 100%;
        }
        form {
    width: 100%;
  }
  section{
    margin-top: 20px;
    width: 100%;
    padding: 0;
  }
    }

    body {
        font-family: 'Arial', sans-serif;
        background-color: #f8f9fa;
    }

    header {
        background-color: #343a40;
        color: #fff;
    }

    .nav-tabs {
        border-bottom: 2px solid #dee2e6;
    }

    .nav-tabs .nav-link {
        color: #495057;
        border: 1px solid transparent;
        border-radius: 0;
        font-weight: bold;
    }

    .nav-tabs .nav-link.active {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    .tab-content {
        padding: 20px;
        background: #fff;
        border: 1px solid #dee2e6;
        border-top: none;
        border-radius: 0 0 5px 5px;
    }

    #parties-tab table {
        width: 100%;
        border-collapse: collapse;
    }

    #parties-tab th, #parties-tab td {
        text-align: left;
        padding: 12px;
        border-bottom: 1px solid #ddd;
    }

    #parties-tab th {
        background-color: #f1f1f1;
        color: #333;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-outline-secondary {
        border-radius: 50%;
        padding: 8px 10px;
    }

    form {
        max-width: 600px;
        margin: 0 auto;
    }

    .form-floating label {
        font-size: 14px;
        color: #6c757d;
    }

    #photoPreview {
        margin-top: 10px;
    }

    #notification-box {
  position: fixed;
  top: 100px;
  left: 300px;
  width: auto;
  height: auto;
  background-color: #ffffff;
  /* font-weight: bold; */
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
  transition: transform 0.3s ease-in-out;
}

#notification-box.error {
    color: rgb(223, 35, 35);

}

#notification-box.success {
  color: rgb(58, 57, 57);
}
#table-section{
    width: 150%;
    overflow-x: scroll;
    margin-left: -5.5pc;
  }
#table-section img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(171, 175, 175);
}

  @media only screen and (max-width: 600px){
    #table-section{
    width: 100%;
    overflow-x: scroll;
    margin-left: 0;
  }
  }
  @media only screen and (min-width: 600px) and (max-width: 768px){
    #table-section{
    width: 100%;
    overflow-x: scroll;
    margin-left: 0;
  }

  }

</style>
</head>

<body>
    <header>
        <!-- Sidebar -->
        <%- include('./layout/parties') -%>

        <!-- Navbar -->
        <%- include('./layout/navbar') -%>
    </header>

    <div id="notification-box" style="display: none;">
        <p id="notification-message"></p>
      </div>
    <!-- Main layout -->
    <main style="margin-top: 70px; padding-left: 0">
        <div class="container pt-2">
            <div id="notification-box" style="display: none;">
                <p id="notification-message"></p>
            </div>
            <!-- Tabs navs -->
            <ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="ex2-tab-1" data-bs-toggle="tab" href="#parties-tab" role="tab">Parties</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex2-tab-2" data-bs-toggle="tab" href="#create-party-tab" role="tab">Create Party</a>
                </li>
            </ul>
            <!-- Tabs navs -->

            <!-- Tabs content -->
            <div class="tab-content" id="ex2-content">

                <% if (role === 'Super Admin') { %>
                <div class="tab-pane fade show active" id="parties-tab" role="tabpanel">
                    <h1 class="mb-4" style="text-align: center;">List Of Parties</h1>

                    <select class="custom-select" id="elections-dropdown2">
                        <option value="">Select Election</option>
                    </select>

                    <section id="table-section">
                        <table class="table responsive">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Party</th>
                                <th scope="col">Election</th>
                                <th scope="col">Logo</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% parties.forEach((party, index) => {%>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><%= party.party %></td>
                                <td><%= party.election%></td>
                                <td><img src="data:image/png;base64,<%= party.logo %>" alt="party logo" id="logo"></td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-outline-secondary btn-floating dropdown-toggle" type="button" id="dropdownMenuButton<%= party.id %>" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= user.id %>">
                                            <li>
                                                <button class="dropdown-item text-primary" data-bs-toggle="modal" data-bs-target="#editUserModal" onclick="editUser(<%= JSON.stringify(party) %>)">

                                                    <i class="fas fa-pencil-alt me-2"></i>Edit
                                                </button>
                                                
                                            </li>
                                            <li>
                                                <form action="/delete/party/<%= party.id %>" method="POST" style="margin: 0;">
                                                    <button type="submit" class="dropdown-item text-danger">
                                                        <i class="fas fa-trash-alt me-2"></i>Delete
                                                    </button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </td>

                              
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </section>
                </div>

                <div class="tab-pane fade" id="create-party-tab" role="tabpanel">
                    <div class="container pt-2">
                        <section >
                            <h1 class="mb-4" style="text-align: center;">Party Registration</h1>
                            <h3 class="fs-6 fw-normal text-secondary m-0 mb-3">Register your desired party</h3>

                            <form action="/create/party" method="post" id="partyRegistrationForm" enctype="multipart/form-data">
                                <div class="col-12 mb-3">
                                    <label for="role" class="form-label">Election:</label>
                                    <select id="election" name="election" class="form-select" required>
                                        <% elections.forEach(election => { %>
                                            <option value="<%= election.id %>"><%= election.election %></option>
                                        <% }); %>
                                    </select>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" name="party" id="party" placeholder="Party Name" required>
                                        <label for="party" class="form-label">Party Name</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="file" class="form-control" name="logo" id="partyLogo" required accept=".jpg, .jpeg, .png">
                                        <label for="logo" class="form-label">Party Logo (.jpg, .jpeg, .png)</label>
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="photoPreview" class="form-label">Photo Preview:</label>
                                    <div class="d-flex justify-content-center">
                                        <img id="photoPreview" src="" alt="Profile Picture Preview" class="img-fluid rounded" style="max-width: 200px; display: none;">
                                    </div>
                                </div>
                                
                                <div class="mb-3">
                                    <button style="width: 100%; margin-top: 10px;" id="login-btn" class="btn btn-primary btn-block btn-lg mb-4">Register Party</button>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>

                <% } %>

                <% if (role === 'Admin') { %>
                    <div class="tab-pane fade show active" id="parties-tab" role="tabpanel">
                        <h1 class="mb-4" style="text-align: center;">List Of Parties</h1>
    
                        
    
                        <section id="table-section">
                            <table class="table responsive">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Party</th>
                                    <th scope="col">Election</th>
                                    <th scope="col">Logo</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% parties.forEach((party, index) => {%>
                                <tr>
                                    <td><%= index + 1 %></td>
                                    <td><%= party.party %></td>
                                    <td><%= party.election%></td>
                                    <td><img src="data:image/png;base64,<%= party.logo %>" alt="party logo" id="logo"></td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-outline-secondary btn-floating dropdown-toggle" type="button" id="dropdownMenuButton<%= party.id %>" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= user.id %>">
                                                <li>
                                                    <button class="dropdown-item text-primary" data-bs-toggle="modal" data-bs-target="#editUserModal" onclick="editUser(<%= JSON.stringify(party) %>)">
    
                                                        <i class="fas fa-pencil-alt me-2"></i>Edit
                                                    </button>
                                                    
                                                </li>
                                                <li>
                                                    <form action="/delete/party/<%= party.id %>" method="POST" style="margin: 0;">
                                                        <button type="submit" class="dropdown-item text-danger">
                                                            <i class="fas fa-trash-alt me-2"></i>Delete
                                                        </button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </section>
                    </div>
    
                    <div class="tab-pane fade" id="create-party-tab" role="tabpanel">
                        <div class="container pt-2">
                            <!-- Section: Statistics with subtitles -->
                            <section >
                                <h1 class="mb-4" style="text-align: center;">Party Registration</h1>
                                <h3 class="fs-6 fw-normal text-secondary m-0 mb-3">Register your desired party</h3>
    
                                <form action="/create/party" method="post" id="partyRegistrationForm" enctype="multipart/form-data">

                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" name="electionName" id="election" value="<%= userElectionData.election_name %>" disabled required>
                                            <label for="dob" class="form-label">Election</label>
                                        </div>
                                    </div>


                                            <input type="hidden" class="form-control" name="election" id="election" value="<%= userElectionData.election_id %>">
                                           

                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" name="party" id="party" placeholder="Party Name" required>
                                            <label for="party" class="form-label">Party Name</label>
                                        </div>
                                    </div>
    
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input type="file" class="form-control" name="logo" id="partyLogo" required accept=".jpg, .jpeg, .png">
                                            <label for="logo" class="form-label">Party Logo (.jpg, .jpeg, .png)</label>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="photoPreview" class="form-label">Photo Preview:</label>
                                        <div class="d-flex justify-content-center">
                                            <img id="photoPreview" src="" alt="Profile Picture Preview" class="img-fluid rounded" style="max-width: 200px; display: none;">
                                        </div>
                                    </div>
                                    <!-- Submit button -->
                                    <div class="mb-3">
                                        <button style="width: 100%; margin-top: 10px;" id="login-btn" class="btn btn-primary btn-block btn-lg mb-4">Register Party</button>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>
    
                    <% } %>


                    <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editUserModalLabel">Edit Party</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="editUserForm" method="POST" action="/update/party" enctype="multipart/form-data">
                                        <input type="hidden" id="userId" name="id">
                                        <div class="mb-3">
                                            <label for="party" class="form-label">Party</label>
                                            <input type="text" class="form-control" id="party_name" name="party">
                                        </div>
                                        
                                        <div class="col-12 mb-3">
                                            <label for="logoPreview" class="form-label">Current Party Logo:</label>
                                            <div class="d-flex justify-content-center">
                                                <img id="logoPreview" src="" alt="Current Party Logo" class="img-fluid rounded" style="max-width: 200px;">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating mb-3">
                                                <input type="file" class="form-control" name="logo" id="party_logo" required accept=".jpg, .jpeg, .png">
                                                <label for="logo" class="form-label">Party Logo (.jpg, .jpeg, .png)</label>
                                            </div>
                                        </div>
                                        

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" form="editUserForm">Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
            </div>
            
            </div>
    </main>

    <script>
 function editUser(party) {
    console.log('This is the party data:', party); 
    document.getElementById('userId').value = party.id;
    document.getElementById('party_name').value = party.party || '';
    
    document.getElementById('logoPreview').src = party.logo ? 'data:image/png;base64,' + party.logo : ''; 
   
};
    </script>

    <script>
        // =============== SHOW NEW NOTIFICATION ALERT =======================

document.addEventListener('DOMContentLoaded', (e) => {
    const unreadCount = <%=unreadCount%>;

    if (unreadCount > 0) {
        const notificationBox = document.getElementById('notification-box');

        const notificationMessage = document.getElementById('notification-message');

        notificationMessage.textContent = `You have ${unreadCount} new notification(s).`;

        notificationBox.style.display = 'block';
        
        setTimeout(function(){
            notificationBox.style.display = 'none';
        }, 5000)
    };

    
    const urlParams = new URLSearchParams(window.location.search);
  const successMessage = urlParams.get('success');
  const errorMessage = urlParams.get('error');

  const notificationBox = document.getElementById('notification-box');
  const notificationMessage = document.getElementById('notification-message');

  if (successMessage) {
    notificationMessage.innerHTML = `<i class="fas fa-check-circle" style='color: green;'></i> `+successMessage;
    notificationBox.classList.add('success');
    notificationBox.style.display = 'block';
    setTimeout(() => notificationBox.style.transform = 'translateX(0)', 10);
  } else if (errorMessage) {
    notificationMessage.innerHTML = `<i class="fa-solid fa-exclamation-triangle" style='color: red;'></i> ` + errorMessage;
    notificationBox.classList.add('error');
    notificationBox.style.display = 'block';
    setTimeout(() => notificationBox.style.transform = 'translateX(0)', 10);
  }

  setTimeout(() => {
    notificationBox.style.transform = 'translateX(-500px)';
    setTimeout(() => notificationBox.style.display = 'none', 300); 
  }, 3000);
});








    </script>
<script>
    document.addEventListener('DOMContentLoaded', (e) => {
        const unreadCount = <%=unreadCount%>;

        if (unreadCount > 0) {
            const notificationBox = document.getElementById('notification-box');

            const notificationMessage = document.getElementById('notification-message');

            notificationMessage.textContent = `You have ${unreadCount} new notification(s).`;

            notificationBox.style.display = 'block';

            setTimeout(function(){
                notificationBox.style.display = 'none';
            }, 5000);
        }
    })
</script>
    <script src="/js/party.js"></script>
    <script src="/js/sweet_alert.js"></script>
    <%- include('layout/footer') %>
