<%- include('layout/header') %>    
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<style>
      body {
      background-color: #f9f9f9;
      font-family: 'Roboto', sans-serif;
    }
    #table{
        margin: 0 auto;
        width: 60%;
    }
    form{
    width: 29vw;
  }
 #form-section{
    display: grid; justify-items: center;padding: 0.8rem;width: 50%;margin: 0 auto; border-radius: 10px;
  }
  .dropdown-item.text-primary {
    display: block !important;
}

  @media only screen and (max-width: 600px){
  form {
    width: 100%;
  }
  #form-section{
    margin-top: 20px;
    width: 100%;
    padding: 0;
  }
  #table-section {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
       

        #table {
            width: 100%;
        }
        #fullName{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 55px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 768px){
  form {
    width: 100%;
  }
  #form-section{
    margin-top: 20px;
    width: 100%;
    padding: 0;
  }
  #table-section {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
       

        #table {
            width: 100%;
        }
  }
</style>
</head>

<body class="">
    <header>
        <!-- Sidebar -->
        <%- include('./layout/positions') -%>

            <!-- Navbar -->
            <%- include('./layout/navbar') -%>
    </header>
    <!--Main layout-->
    <main style="margin-top: 50px; padding-left: 0" >
        
        <div class="container pt-2 ">
            <% if (role === 'Super Admin') { %> 
            <section id="form-section">
                <h1 class="mb-4" style="text-align: center;margin-top: 10px;">Party Position</h1>
                <h3 class="fs-6 fw-normal text-secondary m-0 mb-3">My Position</h3>

                <form method="post" action="/add/position" id="positionForm" autocomplete="off">
                    <div class="col-12 mb-3">
                        <label for="role" class="form-label">Election:</label>
                        <select id="election" name="election" class="form-select" required>
                            <% elections.forEach(election => { %>
                                <option value="<%= election.id %>"><%= election.election %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" name="Position" id="position" placeholder="Positon" required>
                          <label for="userName" class="form-label">Position </label>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="number" class="form-control" name="candidate_age_eligibility" id="candidate_age_eligibility" placeholder="Candidate Age Eligibility" min="10" required>
                          <label for="candidate_age_eligibility" class="form-label">Candidate Age Eligibility</label>
                        </div>
                    </div>

                    <div class="mb-3">
                       

                        <button type="submit" style="width: 100%; margin-top: 10px;" id="login-btn" class="btn btn-primary btn-block btn-lg mb-4">Add Position</button>
                    </div>

                </form>
             
            </section>
            <section id="table-section">
                <h2 class="mb-4" style="text-align: center;">View Positions</h2>
                
                    <!-- <select class="custom-select" id="elections-dropdown2"  style="width: 10%; margin: 20px auto;">
                        <option value="">Select Election</option>
                    </select> -->
                  

                        <table class="table table-responsive" id="table">
                            <thead>
                                <th>#</th>
                                <th scope="col">Position</th>
                                <th scope="col">Candidate Age Eligibility</th>
                                <th scope="col">Action</th>
                            </thead>
                            <tbody>
                                <% positions.forEach((position, index) => {%>
                                <tr>
                                    <td><%= index + 1%></td>
                                    <td><%= position.position %></td>
                                    <td><%= position.candidate_age_eligibility %> Years</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-outline-secondary btn-floating dropdown-toggle" type="button" id="dropdownMenuButton<%= user.id %>" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= position.id %>">
                                                <li>
                                                    <button class="dropdown-item text-primary" data-bs-toggle="modal" data-bs-target="#editUserModal" onclick="editPosition(<%= JSON.stringify(position) %>)">
    
                                                        <i class="fas fa-pencil-alt me-2"></i>Edit
                                                    </button>
                                                    
                                                </li>
                                                <li>
                                                    <form action="/delete/position/<%=position.id %>" method="POST" style="margin: 0;">
                                                        <button type="submit" class="dropdown-item text-danger">
                                                            <i class="fas fa-trash-alt me-2"></i>Delete
                                                        </button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <%})%>
                            </tbody>
                        </table>
            </section>

            <% } %>



            <% if (role === 'Admin') { %> 
                <section id="form-section">
                    <h1 class="mb-4" style="text-align: center;margin-top: 10px;">Party Position</h1>
                    <h3 class="fs-6 fw-normal text-secondary m-0 mb-3">My Position</h3>
    
                    <form method="post" action="/add/position" id="positionForm" autocomplete="off">
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="electionName" id="election" value="<%= userElectionData.election_name %>" disabled required>
                                <label for="dob" class="form-label">Election</label>
                            </div>
                        </div>


                                <input type="hidden" class="form-control" name="election" id="election" value="<%= userElectionData.election_id %>">
                               
                        <div class="col-12">
                            <div class="form-floating mb-3">
                              <input type="text" class="form-control" name="Position" id="position" placeholder="Positon" required>
                              <label for="userName" class="form-label">Position </label>
                            </div>
                          </div>

                          <div class="col-12">
                            <div class="form-floating mb-3">
                              <input type="number" class="form-control" name="candidate_age_eligibility" id="candidate_age_eligibility" placeholder="Candidate Age Eligibility" min="10" required>
                              <label for="candidate_age_eligibility" class="form-label">Candidate Age Eligibility</label>
                            </div>
                        </div>
    
                        <div class="mb-3">
                           
    
                            <button type="submit" style="width: 100%; margin-top: 10px;" id="login-btn" class="btn btn-primary btn-block btn-lg mb-4">Add Position</button>
                        </div>
    
                    </form>
                 
                </section>
                <section id="table-section">
                    <h2 class="mb-4" style="text-align: center;">View Positions</h2>
                    
                        <!-- <select class="custom-select" id="elections-dropdown2" style="width: 70%;">
                            <option value="">Select Election</option>
                        </select> -->
                      
    
                            <table class="table table-responsive" id="table">
                                <thead>
                                    <th>#</th>
                                    <th scope="col">Position</th>
                                    <th scope="col">Candidate Age Eligibility</th>
                                    <th scope="col">Action</th>
                                </thead>
                                <tbody>
                                    <% Adminpositions.forEach((position, index) => {%>
                                        <tr>
                                        <td><%=index + 1 %></td>
                                        <td><%= position.position %></td>
                                        <td><%= position.candidate_age_eligibility %> Years</td>


                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-outline-secondary btn-floating dropdown-toggle" type="button" id="dropdownMenuButton<%= user.id %>" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= position.id %>">
                                                    <li>
                                                        <button class="dropdown-item text-primary" data-bs-toggle="modal" data-bs-target="#editUserModal" onclick="editPosition(<%= JSON.stringify(position) %>)">
        
                                                            <i class="fas fa-pencil-alt me-2"></i>Edit
                                                        </button>
                                                        
                                                    </li>
                                                    <li>
                                                        <form action="/delete/position/<%=position.id %>" method="POST" style="margin: 0;">
                                                            <button type="submit" class="dropdown-item text-danger">
                                                                <i class="fas fa-trash-alt me-2"></i>Delete
                                                            </button>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>

                                    </tr>
                                    <%})%>
                                </tbody>
                            </table>
                </section>
    
                <% } %>

                <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editUserModalLabel">Edit Position</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="editUserForm" method="POST" action="/update/position">
                                    <input type="hidden" id="positionId" name="id">
                                    <div class="mb-3">
                                        <label for="position" class="form-label">position</label>
                                        <input type="text" class="form-control" id="position_name" name="position">
                                    </div>
  
                                    <div class="mb-3">
                                        <label for="candidate_age_eligibilities" class="form-label">Candidate Age Eligibility</label>
                                        <input type="number" class="form-control" id="candidate_age_eligibilities" name="candidate_age_eligibilities" min="10">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" form="editUserForm">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </main>

    <script>
        function editPosition(position) {
           console.log('This is the position data:', position); 
           document.getElementById('positionId').value = position.id;
           document.getElementById('position_name').value = position.position || '';
           document.getElementById('candidate_age_eligibilities').value = position.candidate_age_eligibility || '';

  
       }
           </script>

   <!-- <script src="/js/party.js"></script> -->
    <script src="/js/sweet_alert.js"></script>

<%- include('layout/footer') %>